body{
    background-image: url(../img/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1028px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo{
    display: flex;
}

.logo:hover P{
    color: orange;
}

.logo:hover img{
    content: url(../img/logoOrange.png);
}

.header-logo{
    fill: orange;
    color: orange;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.header-email:hover{
    color: orange;
}

.header-telephone:hover{
    color: orange;
}

.header-text{
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px; /* 100% */
    margin-left: 8px;
    gap: 3px;
}

.header-title-text{
    color: #FFF;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px; /* 100% */
}

.contacts{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 100% */
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: right;
}

.main{
    height: 700px;
}

.wrapper-main{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.main-list-container{
    position: relative;
}

.main-list-container:hover .hover-effect{
	display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: end;
	width: 300px;
	height: 55px;
	background-color: #F26522;
    color: #FFF;
    top: 65%;
	z-index: 1;
}

.hover-effect{
    width: auto;
    height: auto;
    display: none;
}


.hover-text-title{
    color: #FFF;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 100% */
}

.hover-text-cost{
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
}

.hover-text {
	color: #FFF;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 7px;
	display: flex;
	flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.hover-text-link{
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
margin-bottom: 12px;
padding-right: 14px;
}

.hover-text-link::after{
    content: url(../img/Pointer.svg);
	margin-left: 16px;
}

.photo-main{
    width: 300px;
    height: 220px;
}

.main-list-container{
    max-height: 400px;
}

.main-list-container:hover .main-list-text{
    color: orange;
}

.main-list-text{
    margin-top: 20px;
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 18px; /* 100% */
}


.footer-container{
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer-text{
    margin-bottom: 15px;
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 12px; /* 100% */
}